@import "tailwindcss";
@import '@radix-ui/themes/styles.css';
@import "react-datepicker/dist/react-datepicker.css";


@theme {
  --color-black: #000000;
  --color-oxford-blue: #14213d;
  --color-orange-web: #fca311;
  --color-platinum: #e5e5e5;
  --color-white: #ffffff;
}



@keyframes float {
  0% {transform: translateY(0px) rotate(0deg);}
  50% {transform: translateY(-30px) rotate(12deg);}
  100% {transform: translateY(0px) rotate(0deg);}
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1.25s ease-out forwards;
}

.float-animation {
  animation: float 8s ease-in-out infinite;
}

